{
  "rules": {
    "object-curly-spacing": [2, "always"],
    "object-shorthand": [2, "never"],
    "padded-blocks": [2, {"switches": "always", "classes": "never", "blocks": "never"} ],
    "no-confusing-arrow": 0,
    "one-var": 0,
    "quote-props": 0,
    "no-console": 1,
    "arrow-body-style": 0,
    "quotes": [2, "single"],
    "dot-location": [2, "property"],
    "arrow-parens": 0,
    "sort-keys": 0,
    "no-magic-numbers": [1, {"ignore": [1, 0 ] } ],
    "object-property-newline": [2, {"allowMultiplePropertiesPerLine": true } ],
    "object-curly-newline": 0,
    "multiline-ternary": 0,
    "eol-last": 0,
    "indent": [2, 2 ],
    "sort-imports": 0,
    "brace-style": [2, "stroustrup", {"allowSingleLine": true } ],
    "no-ternary": 0,
    "operator-linebreak": [2, "before", {"overrides": {"?": "after"} } ],
    "max-len": [2, 100 ],
    "max-statements": [1, {"max": 12 } ],
    "no-unused-vars": 1
  },
  "extends": "eslint:all",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}